In [3]:
import numpy as np
import pandas as pd
import geopandas as gpd #conda install geopandas
import matplotlib.pyplot as plt
#import folium 
#from shapely.ops import nearest_points
#from shapely.geometry import LineString, Point, box
#from pyproj import Proj

from haversine import haversine

### Origen

In [103]:
length = 4
df1 = pd.DataFrame({'id':np.arange(length), 'coordinates':tuple(zip(np.random.uniform(-90, 90, length), np.random.uniform(-180, 180, length)))})
df1#.head()

   id                                coordinates
0   0   (29.51640074670979, -176.22571400377703)
1   1  (-40.462646410948736, 138.95444059862143)
2   2  (-29.137100477621118, 168.70703194886062)
3   3  (-83.19977982449845, -52.560288820380904)

### Destino

In [102]:
length = 6
df2 = pd.DataFrame({'id':np.arange(length), 'coordinates':tuple(zip(np.random.uniform(-90, 90, length), np.random.uniform(-180, 180, length)))})
df2#.head()

   id                               coordinates
0   0   (28.319611727319653, 55.11047323663183)
1   1  (13.285806572724553, -131.5397126281158)
2   2   (59.49466580502141, 106.96862206813427)
3   3  (80.27823208332694, -49.611022618597616)
4   4   (27.56304356296451, -41.57833897835778)
5   5   (40.54453975994193, 149.42195485109363)

In [105]:
df1.shape, df2.shape

((4, 2), (6, 2))

In [107]:
type(df1), type(df2)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [111]:
for i in df1['coordinates']:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [112]:
for i in df2['coordinates']:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [123]:
from haversine import haversine

In [132]:
 for i in df1['coordinates']:
    for j in df2['coordinates']:
        print(i,j)

(29.51640074670979, -176.22571400377703) (28.319611727319653, 55.11047323663183)
(29.51640074670979, -176.22571400377703) (13.285806572724553, -131.5397126281158)
(29.51640074670979, -176.22571400377703) (59.49466580502141, 106.96862206813427)
(29.51640074670979, -176.22571400377703) (80.27823208332694, -49.611022618597616)
(29.51640074670979, -176.22571400377703) (27.56304356296451, -41.57833897835778)
(29.51640074670979, -176.22571400377703) (40.54453975994193, 149.42195485109363)
(-40.462646410948736, 138.95444059862143) (28.319611727319653, 55.11047323663183)
(-40.462646410948736, 138.95444059862143) (13.285806572724553, -131.5397126281158)
(-40.462646410948736, 138.95444059862143) (59.49466580502141, 106.96862206813427)
(-40.462646410948736, 138.95444059862143) (80.27823208332694, -49.611022618597616)
(-40.462646410948736, 138.95444059862143) (27.56304356296451, -41.57833897835778)
(-40.462646410948736, 138.95444059862143) (40.54453975994193, 149.42195485109363)
(-29.137100477621118, 168.70703194886062) (28.319611727319653, 55.11047323663183)
(-29.137100477621118, 168.70703194886062) (13.285806572724553, -131.5397126281158)
(-29.137100477621118, 168.70703194886062) (59.49466580502141, 106.96862206813427)
(-29.137100477621118, 168.70703194886062) (80.27823208332694, -49.611022618597616)
(-29.137100477621118, 168.70703194886062) (27.56304356296451, -41.57833897835778)
(-29.137100477621118, 168.70703194886062) (40.54453975994193, 149.42195485109363)
(-83.19977982449845, -52.560288820380904) (28.319611727319653, 55.11047323663183)
(-83.19977982449845, -52.560288820380904) (13.285806572724553, -131.5397126281158)
(-83.19977982449845, -52.560288820380904) (59.49466580502141, 106.96862206813427)
(-83.19977982449845, -52.560288820380904) (80.27823208332694, -49.611022618597616)
(-83.19977982449845, -52.560288820380904) (27.56304356296451, -41.57833897835778)
(-83.19977982449845, -52.560288820380904) (40.54453975994193, 149.42195485109363)

In [137]:
 for i in df1['coordinates']:
    for j in df2['coordinates']:
        print(haversine(i,j))

11583.711242990366
4928.98382138118
6483.910440292322
7399.999428291462
12043.52749100721
3333.683298371928
11525.646944929515
10920.127649525051
11496.270367658217
15573.578444975821
18579.910132946097
9069.616007239209
13632.539734288715
7957.114132888449
11352.663627770275
14072.584899102996
17054.372183220923
7999.5153778506765
13363.237436766922
11330.508941832197
17319.702759757223
18178.544048511423
12329.38352906635
15210.873729526995

In [206]:
dist = []

for i in df1['coordinates']:
    for j in df2['coordinates']:
        dist.append(str(haversine(i,j)))
print(dist)

['11583.711242990366', '4928.98382138118', '6483.910440292322', '7399.999428291462', '12043.52749100721', '3333.683298371928', '11525.646944929515', '10920.127649525051', '11496.270367658217', '15573.578444975821', '18579.910132946097', '9069.616007239209', '13632.539734288715', '7957.114132888449', '11352.663627770275', '14072.584899102996', '17054.372183220923', '7999.5153778506765', '13363.237436766922', '11330.508941832197', '17319.702759757223', '18178.544048511423', '12329.38352906635', '15210.873729526995']

In [207]:
for i in range(len(dist)):
    print(i + 1, dist[i])

1 11583.711242990366
2 4928.98382138118
3 6483.910440292322
4 7399.999428291462
5 12043.52749100721
6 3333.683298371928
7 11525.646944929515
8 10920.127649525051
9 11496.270367658217
10 15573.578444975821
11 18579.910132946097
12 9069.616007239209
13 13632.539734288715
14 7957.114132888449
15 11352.663627770275
16 14072.584899102996
17 17054.372183220923
18 7999.5153778506765
19 13363.237436766922
20 11330.508941832197
21 17319.702759757223
22 18178.544048511423
23 12329.38352906635
24 15210.873729526995

In [208]:
pairs = []

for i in df1['id']:
    for j in df2['id']:
        pairs.append(str(i)+str(j))
print(pairs)

['00', '01', '02', '03', '04', '05', '10', '11', '12', '13', '14', '15', '20', '21', '22', '23', '24', '25', '30', '31', '32', '33', '34', '35']

In [209]:
type(pairs), len(pairs), type(dist), len(dist)

(list, 24, list, 24)

In [210]:
#dist = pd.DataFrame()

In [211]:
dist = pd.DataFrame(dist, index = pairs) 
dist.head()

                     0
00  11583.711242990366
01    4928.98382138118
02   6483.910440292322
03   7399.999428291462
04   12043.52749100721

In [213]:
dist.shape

(24, 1)

In [214]:
dist.to_csv('dist.csv')

In [212]:
#WRONG
#data = []
#for i in pairs:
#    for j in dist:
#        data.append(str(i)+':'+str(j))
#data
#pairs.shape(), dist.shape()

In [21]:
#haver_vec = np.vectorize(haversine, otypes=[np.int16])
#distance = df.groupby('id').apply(lambda x: pd.Series(haver_vec(df.coordinates, x.coordinates)))

In [104]:
#df1 = pd.DataFrame({'lat_long': [(25.99550273, 179.18526021), (76.24387873, -34.21956936), (-51.43773064, -113.93795667)]})
#df1.head()

In [108]:
#df2 = pd.DataFrame({'lat_long': [(22.89956242, 107.04009984), (-80.25375578, -92.05425401), (-0.81621289, -147.26962084), (0,0)]})
#df2.head()

In [113]:
# Set the tuples:
#for i in df1.iloc[:,0]:
#    for j in df2.iloc[:,0]:
#        print(i,j)
#        print(type(i),type(j))

In [114]:
#for i in df1['lat_long']:
#    for j in df2['lat_long']:
#        print((i,j))

In [115]:
# method 1: iterate through rows
#for i in df1['lat_long']:
#    for j in df2['lat_long']:
#        print(round(haversine(i,j),2))

In [116]:
#print(df1[1:2])
#print(df2[1:2])

In [62]:
#haversine(df1[1:2], df2[1:2])

In [58]:
# method 2: create one dataframe and then perform calculation
#df1_dup = df1.append([df1]*(len(df2)-1), ignore_index=True)
#df2_dup = df2.append([df2]*(len(df1)-1), ignore_index=True)

#df1_dup.head()

In [57]:
#df = pd.DataFrame({
#    'lat_long_df1': df1_dup.sort_values('lat_long')['lat_long'],
#    'lat_long_df2': df2_dup['lat_long']
#})

#print(df.apply(lambda x: haversine(x['lat_long_df1'], x['lat_long_df2']), axis=1))

In [ ]:
#df['dist'] = haversine(df.lat1, df.lon1, df.lat2, df.lon2)

In [ ]:
#my_df["dist"] = my_df.apply(lambda row : haversine.haversine((row["lat1"], row["lon1"]),(row["lat2"], row["lon2"])), axis=1)

### Loops

In [85]:
for x in range(1, 3):
    for y in range(1, 4):
        print('d(H-%d , E-%d) = %d' % (x, y, x*x + y*y))

d(H-1 , E-1) = 2
d(H-1 , E-2) = 5
d(H-1 , E-3) = 10
d(H-2 , E-1) = 5
d(H-2 , E-2) = 8
d(H-2 , E-3) = 13